@import '../../common.scss';

.input-text {
    // use font size 16
    @include size-16;
    
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.title-margin {
    margin-top: calc(#{$spacing} * 6px);
    margin-bottom: calc(#{$spacing} * 3px);
}
   
.btn-login {
    width: 100%;
    padding: #{$spacing}px
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    transition: opacity 300ms ease-out, transform 300ms ease-out;
    opacity: 1;
}
.fade-exit {
    transition: opacity 300ms ease-in, transform 300ms ease-in;
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
}
  